<form>
  <h3>Answers:</h3>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
  <div class="form-group">
    <label for="author">author</label>
    {{input value=author placeholder="Enter your name" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="answer">answer</label>
    {{textarea value=answer rows="8" cols="80" placeholder="Answer..." class="form-control"}}
  </div>
  <button {{action 'addAnswer'}} class="btn btn-default">Add answer</button>
</form>
